@page
@model IndexModel
@{
    ViewData["Title"] = "Tax Calculator";
}

<form method="post" asp-page-handler="MapPostalCodes">
    <div>
        <label for="txtPostalCode">Postal Code:</label>
        <input asp-for="PostalCode" type="text" id="txtPostalCode" name="PostalCode" />

        <label for="txtAnnualIncome">Annual Income:</label>
        <input asp-for="Income" type="text" id="txtAnnualIncome" name="Income" />

        <input type="hidden" name="PostalCode" value="@Model.PostalCode" />

        <button type="submit">Calculate</button>
    </div>
</form>
   

